/* css phone*/

@media screen and (max-width: 600px) {

  /* header*/

  .header-page {
    height: auto;
    padding-bottom: 6rem;
    position: relative;
  }
  
  .header-picture {
    height: auto;
    object-fit: cover;
  }


  .logo {
    width: 200px;
    padding: 0;
  }

  /* Menu burger par défaut */

  .burger-menu {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .burger-icon {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    padding: 2.5rem 2.5rem 0 0;
  };
  }

  .bar {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .menu {
    display: none;
  }
/* Ajoutez une règle pour cibler le menu seulement lorsque la classe menu-open est présente */
.menu.menu-open {
  background-color: rgb(52, 54, 54);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.menu.menu-open ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu.menu-open li {
  padding: 15px;
  text-align: center;
}

.menu.menu-open a {
  color: #fff;
  text-decoration: none;
}

.menu.menu-open a:hover {
  text-decoration: underline;
}

/* Cachez le menu par défaut */

/* Autres styles restants inchangés */


  #mainNav {
    display: none;
  }

  .text-nav-open {
    display: none;
  }

  .ctaButton {
    display: none;
  }

  .team {
    height: auto;
  }

  .team-text {
    font-size: 12px;
    padding: 10px;
    margin-top: 10rem;

  }

  .team-text h1 {
    margin-bottom: 20px;
  }

  .team-text p {
    text-align: center;

  }


  .team-picture {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-top: 2rem;
    overflow: auto;
  }

  .team-picture-div {
    display: flex;

  }


  .team-picture-div img {
    width: 100px;
    height: 100px;
    margin: 2rem 10px;
    border: 2px solid #fff;

  }

  .presentationPersonnage{
  font-size:12px ;
  margin: 9rem 0 0 0;
  border-radius: 0px;
  }
  #competencesPersonnage {
    /* margin-top: 2rem; */
    border-radius: 0px;
  }

  .nameCompetence {
    font-size: 18px;
  }

  .msgCompetence {
    font-size: 12px;
  }



  #carousselPersonnage {
    display: none;
  }

  .carousel-mobile {
    width: 100%;
    height: auto;
    overflow-x: auto;
    margin-bottom: 3rem;
  }

  .carousel-mobile .carousel {
    display: flex;
    width: 100vw;
    height: 100%;
  }

  .carousel-mobile .carousel__item {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    padding: 0 10px;
  }

  .carousel-mobile .imgAreneMobile {
    width: 400px;
    height: 200px;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .carousel-mobile .imgCompetence {
    width: 400px;
    height: 200px;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #carouselPersonnageMobile {
    display: block;
  }

  .contact{
    margin: 0;
  }

  .form-wrapper {
    width: 100%;
    font-size: 12px;
  }

  .form-wrapper form h2 {
    font-size: 18px;
    margin-bottom: 2rem;
  }

  .form-wrapper form p {
    display: none
  }

  .form-wrapper form input {
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
  }

  .form-input:focus {
    border: none;
    outline: none;
  }

  .form-input::placeholder {
    font-size: 12px;
  }

  #textarea textarea {
    height: 300px;
    margin: 2rem 0;
  }

  .form-wrapper form button {
    width: 20%;
    padding: 10px;
    color: rgb(248, 241, 248);
    background-color: rgb(49, 49, 252);
    border-radius: 10px;
  }

  .form-wrapper form button:hover {
    background-color: blanchedalmond;
    color: black;
  }


  .nav-footer h2 {
    font-size: 18px;
  }

  .nav-footer a {
    font-size: 12px;
  }

  .copyright {
    font-size: 12px;
  }

  .presentationPersonnage-trunck{
    background-color: rgb(29, 29, 29);
    color: whitesmoke;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
    padding: 10px;
    margin-top: 30rem ;
  }
  .presentationPersonnage-vegeta{
    background-color: rgb(29, 29, 29);
    color: whitesmoke;
    margin-top: 20rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;

  }

  #presentationPersonnage-goku{
    padding-top: 20rem ;
  }

#presentationPersonnage-gohan {
  margin-top: 25rem;
}

#presentationPersonnage-bulma{
  margin-top: 7.5rem;
}

  .charactGohan {
    margin-bottom: 2rem;
  }

  .charactGohan p {
    margin-bottom: 20px;
  }

  .charactVegeta {
    margin-bottom: 2rem;
  }

  .charactVegeta p {
    margin-bottom: 20px;
  }

  .msgPersonnage {
    font-size: 12px;
    padding: 20px;
  }
