* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Version Desktop */

.header-page {
    width: 100%;
    height: 100vh;
    position: relative;
}

.header-picture{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    z-index: -1;
    
}

.sidenav {
    height: 100%;
    width: 100;
    padding: 20px 50px;
}

.nav-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 200px;
    margin-top: 1rem;
    margin-left: 1rem;

}

.text-nav-open {
    display: flex;
    width: 100%;
}

.text-nav-open li {
    list-style: none;
    padding: 0 3rem;
}

.text-nav-open li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
}

.text-nav-open li a:hover {
    color: #0b0b0b;
    border-bottom: 2px solid rgb(255, 255, 255);
}

.close {
    display: none;
}

.ctaButton {
    width: 150px;
    height: 50px;
    background-color: #0b0b0b;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    margin-top: 2rem;
    margin-right: 1rem;
}

.ctaButton:hover {
    background-color: white;
    color: #0b0b0b;
    border: 1px solid #0b0b0b;
}

a.title {
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    cursor: pointer;
    margin-left: 0.5rem;
}

.fa-comments {
    margin-left: 3.5rem;
    margin-top: 0.5rem;
}

.team {
    width: 100%;
    height: 100vh;
}

.team-text {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 50px 0;
    text-align: justify;
    line-height: 1.5;
    font-size: 1.2rem;
}

.team-text h1 {
    margin-bottom: 20px;
}

.team-picture {
    background-color: #0b0b0b;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.team-picture img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 10px solid #f2f2f2;
    object-fit: cover;
    object-position: top;
    margin: 0 10px;
}

.team-picture img:hover {
    border: 10px solid #090909;
    cursor: pointer;
    transform: scale(1.1);
}

#competencesPersonnage {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #141313;
    color: #f6f2f2;
    padding: 50px 0;
    text-align: center;
    line-height: 1.5;
    font-size: 1.2rem;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 10px 10px 0 10px 0 rgba(202, 135, 3, 0.2);
}

.nameCompetence {
    margin-bottom: 2rem;
}

.msgCompetence {
    margin-bottom: 2rem;
}

/* Partie de Gaëtan */

#carousselPersonnage {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    transition: background .4s ease-in;
}

input[type=radio] {
    display: none;
}

.cards {
    display: flex;
    position: relative;
    width: 100%;
    height: 70%;
    margin-bottom: 20px;
}

.card {
    position: absolute;
   max-width: 400px;
   max-height: 400px;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform .5s ease;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
}

.container {
    display: flex;
    width: 100%;
    height: 50vh;
    transform-style: preserve-3d;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cards {
    position: relative;
    width: 100%;
    height: 70%;
}

.imgCompetence {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: fill;
    object-position: center;
}

#item-1:checked~.cards #song-5,
#item-2:checked~.cards #song-1,
#item-3:checked~.cards #song-2,
#item-4:checked~.cards #song-3,
#item-5:checked~.cards #song-4 {
    transform: translateX(-40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}

#item-1:checked~.cards #song-2,
#item-2:checked~.cards #song-3,
#item-3:checked~.cards #song-4,
#item-4:checked~.cards #song-5,
#item-5:checked~.cards #song-1 {
    transform: translateX(40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}

#item-1:checked~.cards #song-1,
#item-2:checked~.cards #song-2,
#item-3:checked~.cards #song-3,
#item-4:checked~.cards #song-4,
#item-5:checked~.cards #song-5 {
    transform: translateX(0) scale(1);
    opacity: 1;
    z-index: 1;
}

#item-1:checked~.player #test {
    transform: translateY(0);
}

#item-2:checked~.player #test {
    transform: translateY(-40px);
}

#item-3:checked~.player #test {
    transform: translateY(-80px);
}

#item-4:checked~.player #test {
    transform: translateY(0px);
}

#item-5:checked~.player #test {
    transform: translateY(0px);
}

.msg {
    width: 100%;
    padding: 1rem;
    height: 100px;
}

/* Fiche personnage */

#charactGohan {
    width: 100%;
    padding-left: 18px;
    margin-top: -70px;
}

#charactGohan > p {
    margin: 0;
}

/* Partie de Charlie */


/* .team-picture {
    display: flex;
    justify-content: center;
}

.team-picture-div {
    display: block;
    width: 100%;
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.team-picture-div:hover {
    opacity: .7;
} */

/* Formulaire de contact */

.contact {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    background-color: #141313;
    color: #f6f2f2;
    padding: 20px 0;
    line-height: 1.5;
    font-size: 1.2rem;
    width: 100%;
}

.form-wrapper{
    width: 40%;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.form-wrapper h1 {
    margin-bottom: 20px;
}

.form-wrapper p {
    margin-bottom: 20px;
}

.form-input-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-input{
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    font-size: 1.2rem;
    background-color: transparent ;
    outline: none;
}

.form-input:focus {
    color: thistle;
    border: 1px solid #090909;
    box-shadow: 0 0 0 2px #090909;
}

.form-input::placeholder{
    color: #f2f2f2;
    font-weight: 300;
    font-size: 1.2rem;
    font-style: italic;
    letter-spacing: 2px; ;
}

/* Style footer */

.nav-footer {
    display: flex;
    justify-content: space-between;
    background-color: #141313;
    color: #f6f2f2;
    padding: 20px 0;
    line-height: 1.5;
    font-size: 1.2rem;
    width: 100%;
}

.nav-footer-perso h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #E59982;
}

.nav-footer a {
    color: #f6f2f2;
    text-decoration: none;
    transition: color .4s ease-in;
    font-weight: 500;
    font-size: 1.2rem;
    margin: 1rem 0;
    cursor: pointer;
}

.nav-footer a:hover {
    color: #E59982;
}

.nav-footer-text {
    list-style: none;
    display: flex;
    flex-direction: column;
    line-height: 30px;
}

.nav-footer-text li {
    margin: 5px 0;
}
.nav-footer-perso {
    margin: 2rem;
}

.footer-partenaire{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    width: 100%;
    height: 50px;
    background-color: #141313;
    color: #f6f2f2;
    font-size: 1.2rem;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #141313;
    color: #f6f2f2;
    font-size: 1.2rem;
}